<section class="backcolor">
    <div class="position-titre">
            <h1>A Propos</h1>
         
           </div> 
           <div class="mention"> 
            <p class="titre">Pourquoi 2DO</p>
            <p class="texte">2DO a été créé pour m'apprendre a utilisé Angular et firebase. Il m'aura fallu plus d'un mois de travail pour pouvoir arriver à terminer ce projet.</p>
            <p class="texte">Je vous invite à voir mes autres projets que j'ai réalisés. Vous pourrez d'ailleurs voir mes futurs prochains projets qui seront réalisés dans plusieurs mois.</p>
            <p class="texte">Pour accéder à mon Portfolio personnel le lien est sur ce bouton.</p>
            <a href="https://portfoliopruvotfabian.firebaseapp.com/" target=_blank ><button  class="btn button">Mon Portfolio</button></a>
          </div>
        </section>