.position-titre{
    padding: 5%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
}
.backcolor{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: #026aa7;
}
.buttune{
    display: flex;
    justify-content: center;
}
.mention{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 5%;
}
.titre{
    margin-top:5%;
    margin-bottom: 5%;
    font-size: 1.8em;
    font-weight: bold;
}
.texte{
    font-size: 1.3em;
}

.btn{
    border-radius: 100px;
    margin: 5%;
    height: 100Px;
    width: 90%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.button{
    border: none;
    color: #026aa7;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    color: #026aa7;
    background: rgba(255, 255, 255, 0.801);
    transition: 0.5s
}