<div class="empty">

</div>

<div class="body">
  <div class="Logo">
    <img class="pointer" src="../../assets/image/2DO.png"  routerLink="/home" alt="Logo 2DO"> 
  </div>
  <div class="block">
    <div class="navigation-nav" >
        <div class="new headnew" routerLinkActive="active"  routerLink="/home" *ngIf="!isAuth">
            <i class="fas fa-home"></i>
            <a>Home</a>
       </div>
        <div class="new headnew" routerLinkActive="active"  routerLink="/sign-up" *ngIf="!isAuth">
            <i class="fas fa-sign-in-alt "></i>
            <a>Créer un compte</a>
        </div>
        <div  class="new headnew" routerLinkActive="active"  routerLink="/sign-in" *ngIf="!isAuth">
            <i class="fas fa-user "></i>
            <a>Connexion</a>
        </div>
        <div class="new headnew" routerLinkActive="active" routerLink="/accueil" *ngIf="isAuth">
          <i class="fas fa-home"></i>
          <a>Accueil</a>
        </div>
          <div class="new headnew" routerLinkActive="active" routerLink="/new-todo" *ngIf="isAuth">
              <i class="fas fa-plus-square"></i>
              <a>Nouvelle tâche</a>
          </div>
            <div class="deco">
                <i class="fas fa-power-off navigation Déconnexion"
                   (click)="onSignOut()"
                   style="cursor:pointer"
                   *ngIf="isAuth"></i>
            </div>
          </div>
</div>
<div class="toggle" >
    <span></span>
    <span></span>
  </div>
</div>


