
.navigation-nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    padding: 0;
}
a{
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
}
.head{
    color: #fff;
    height: auto;
    margin: 5px;
    display: flex;
    align-items: center;
}

.headnew{
    color: whitesmoke;
}
.headnew:hover{
    background-color: whitesmoke;
    color: #222426;
    animation: underline 0.5s;
}
@keyframes underline {
    0%{
        text-decoration: underline;
    }
    100%{
        text-decoration: underline;
    }
}

.navigation a:hover{
    color: whitesmoke;
    background:  #026aa7;
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s;
}

.Déconnexion{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background: rgb(253, 41, 41);
    border: 2px solid transparent;
    border-radius: 50px;
    transition: 0.5s;
}
.Déconnexion:hover{
    color: rgb(253, 41, 41);
    background: transparent;
    border: 2px solid rgb(253, 41, 41);
    transition: 0.5s;

}
.Connexion{
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
  
    border: 2px solid transparent;
    border-radius: 25px 25px 25px 25px;
    transition: 0.5s;
}
.Connexion:hover{
    background: #fff;
    transition: 0.5s;

}

.new{
    border-radius: 5px;
    padding: 2%;
    display: flex;
    align-items: center;
    cursor: pointer;
} 
.flex{
    display: flex;
    justify-content: center;
}
.block{
    z-index: 5;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #222426;
    left: -1500px;
    top: 0;
    transition:0.9s;
    -webkit-box-shadow: 9px 1px 11px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 1px 11px 2px rgba(0,0,0,0.75);
    box-shadow: 9px 1px 11px 2px rgba(0,0,0,0.75)
}
.titre{
    color: #fff;
    margin: 7%;
}


.block.active{
    border-radius: 0 0px 50px 0;
    left: 0px;
    transition:0.6s;
}


.body{
    font-family: 'Oswald', sans-serif;
    z-index: 4;
    position: fixed;
    top: 0;
    width: 100%;
    background: #026aa7;
    height: 130px;
    border-radius: 0 0 50px 0px;
    -webkit-box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.75);
    animation: down 1s;
}
@keyframes down {
    0%{
        top: -200px;
    }
    100%{
        top: 0px;
    }
}
.empty{
    height: 130px;
    width: 100%;
}
.toggle{
    z-index: 10;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    width: 80px;
    height: 80px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.5s;
    background:rgba(204, 204, 204, 0.644);
    border-radius: 5px 5px 5px 5px;
}
.toggle span{
    position: absolute;
    width: 50%;
    height: 4px;
    transition: 0.5s;
    background-color: #222426;
    
    transform: translateX(-50%);
}
.toggle span:nth-child(1){
    top: 30%;
    left: 50%;
}
.toggle span:nth-child(2){
    bottom: 30%;
    left: 50%;
}
.toggle.active span{
    background: #fff;
}
.toggle.active span:nth-child(1){
    top: 50%;
    left: 50%;
    width: 60%;
}
.toggle.active span:nth-child(2){
    bottom: 45%;
    left: 50%;
    width: 60%;
}
.toggle.active span:nth-child(1){
    transform: translate(-50%, -50%) rotate(135deg);
}
.toggle.active span:nth-child(2){
    transform: translate(-50%, -50%) rotate(225deg);

}
.toggle:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 4px;
    background-color: #222426;
    transition: 0.5s;


}
.toggle.active:before{
    width: 100%;
    height: 100%;
}
.Logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-left: 5%;
}
.pointer{
    cursor: pointer;
}


.containe{
    display: flex;
    justify-content: flex-end;
}
@media screen and
(max-width: 414px){
    .logo{
        width: 0;
    }
    a{
        font-size: 1em;
    }

}
@media screen and (max-width: 900px){
    .body{
        width: 70%;
    }
    .block{
        height: 230px;
    }
    .navigation-nav{
        align-items: initial;
        flex-direction: column;

    }
    .deco{
        display: flex;
        justify-content: center;
    }
}
/* @media screen and
(max-width: 414px){
    .block{
        width: 70%;
    }
} */