.footer{
    border-radius: 50px 50px 0 0; 
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #222426;
}
/* .mention{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #026aa7;
    border-radius: 50px;
    transition: 0.5s;
}
.button:hover{
    color: #026aa7;
    background-color: white;
    transition: 0.5s;
}
.p{
    color: white;
    padding: 1% 0 1% 0;
}
.remove{
    text-decoration: none;
}
.cursor{
    cursor: pointer;
}
.flex{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1em;
}
.flex2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.but{
    border: 0;
    height: 60%;
    width: 25%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 3%;
    background-color: transparent;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
.but:hover{
    background-color: rgba(255, 255, 255, 0.65);
    transition: 0.2s;
    color: #026aa7;

}
@media screen and
(max-width: 414px){
    .but{
    width: 33%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    }
}