
<div class="footer">
  <div class="flex2">
    <div class="mention">
        <div class="button cursor" routerLink="/mention" title="Mention Légale">
        <i class="fas fa-gavel"></i>
        </div>
    </div>
    <div class="mention">
        <div class="button cursor" routerLink="/Apropos" title="A Propos">
        <i class="fas fa-address-card"></i>
        </div>
    </div>
    <div class="mention">
      <a class="remove" href="https://portfoliopruvotfabian.web.app/contact" target="_blank"> 
        <div class="button cursor" title="Contact 
        https://portfoliopruvotfabian.web.app/contact">
        <i class="fas fa-phone-alt "></i>
    </div></a>
  </div>
</div>
  <div class="flex"> 
  <p class="p"> &copy; 2DO | Tous droits réservés.</p>
</div>
</div>