<div class="back"> 
<div class="row">
  <div class="width">
    <div class="authBlock">
      <h3>Changer de mot de passe</h3>
      <p class="text-center">Entrer votre email pour changer votre mot de passe</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
      </div>
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Mot de Passe" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Retour à la <span class="redirect" routerLink="/sign-in">Connexion</span></span>
    </div>
  </div>
</div>
</div>