.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px ;
    background-color: whitesmoke;
}
.back{
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-image: url(../../assets/image/starupstockphotos.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    background-size: cover; 
    opacity: 100%;
    animation: fondue 1s linear;
}
.block{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.width{
    width: 65%;
}
.btn{
    width: 100%;
    margin-bottom: 1.2em;
    margin: 2%;
    height: 40px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.btn:hover{
    color: whitesmoke;
    background-color: #3f93c4;
}
.button{
    border: none;
    color: whitesmoke;
    background-color: #026aa7;
    cursor: pointer;
}
.button:hover{
    color: whitesmoke;
    background-color: #3a96cc;
}
.formControl{
    background: #EDEFF0;
    border-radius: 4px;
    font-size: 1.5em;
    border: 1px solid #CDD2D4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    margin: 2%;
    height: 40px;
}
.formGroup{
    text-align: center;
}
.forgotPassword{
    margin: 2%;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.redirect{
    text-decoration: underline;
    cursor: pointer;
}
.redirectToLogin{
    margin: 2%;
    text-align: center;
}
.text-center{
    text-align: center;
}
h3{
    font-size: 2em;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}
@media screen and
(max-width: 700px){
    .row{
        width: 85%;
    }
    .btn{
        font-size: 1.2em;
    }
}