.back{
    background-image: url(../../assets/image/DariuszSankowski.jpg);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    opacity: 100%;
    animation: fondue 1s linear;
}
.backTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.tittle{
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 3px black;
}