<section class="backcolor">
  
        </section>
        <div class="position-titre">
          <h1>Mentions Légales</h1>
       
         </div> 
         <div class="mention"> 
          <p class="titre">Quelles informations nous recueillons à votre sujet</p>
          <p class="texte">Nous recueillons des informations vous concernant lorsque vous nous les fournissez, lorsque vous utilisez nos Services.</p>
              
          <p class="titre">Photo </p>
          <p class="texte">Toutes les photos ici présente, sont des photos libre de droit.</p>
              
          <p class="titre"> Informations que vous nous fournissez.</p>  
          <p class="texte">Nous recueillons des informations vous concernant lorsque vous les entrez dans les Services.</p>

          <p class="titre">Comment nous utilisons les informations que nous recueillons.</p>
          <p class="texte"> La manière dont nous utilisons les informations que nous collectons dépend en partie des services que vous utilisez, de la manière dont vous les utilisez que vous nous avez communiquées.</p>
          <p class="texte"> Toutes vos informations personnel, ne seront jamais partagés à d'autre intermédiaire que ce soit.</p>
          <p class="texte"> Par ailleurs ce site est avant tout un exercice personnel et n'a pas vocation à être utilisé de manière large et intensive et a pour unique but de vous montrez mon savoir faire</p>

          <p class="titre">Me Contacter</p>
          <p class="texte">pruvotfabian@gmail.com</p>
          <p class="texte">06.05.09.31.00</p>
        </div>