<div class="back">
  <h1 class="tittle">Bienvenue sur 2DO</h1>
</div>
<div class="color">
  <h2 class="titre">Qu'est Ce Que 2DO ?</h2>
  <p class="p"> 2DO est un site vous permettant de créer et de gérer toutes vos tâches et objectifs à accomplir durant votre journée de travail. 2DO ayant intégré un système de connexion vous permet d'avoir en privé toutes vos tâches.
  </p> 


<div class="color2">
  <h2 class="titre2">Comment Ça Marche ?</h2>
  <p class="p2"> Pour utililiser 2DO il suffit juste de ce créer un compte et vous aurez ainsi accés a l'application. Vous pourrez ainsie créer vos propre tâches.
  </p> 
</div>
</div>
<div class="back2">
  <img class="taille" src="../../assets/image/Design.jpeg" alt="">
</div>
<div class="blue">
<div class="color2">
    <h2 class="titre2">Que Faire Une Fois Connecté ?</h2>
    <p class="p2"> Aprés vous étes connecté vous avez accés a vos tâches que vous pourrez créer et supprimmer.
    </p> 
  </div>
</div>
  <div class="back3">
    <img class="taille"  src="../../assets/image/Création.jpeg" alt="">
    </div>