<div class="back">
  
</div>
<div class="backTitle">
  <h1 class="tittle">Bienvenue sur 2DO</h1>
</div>
<div class="color">
  <h2 class="titre">Qu'est ce que 2DO ?</h2>
  <p class="p"> 2DO est un site vous permettant de créer et de gérer toutes vos tâches et objectifs à accomplir durant votre journée de travail. 2DO ayant intégré un système de connexion vous permet d'avoir en privé toutes vos tâches.
  </p> 
</div>
<div class="colorTrans">
  <h2 class="titre">Comment ça marche ?</h2>
  <p class="p"> Pour utiliser 2DO, il suffit juste de se créer un compte et vous aurez ainsi accès à l'application. Vous pourrez ainsi créer vos propres tâches.
  </p> 
</div>
<div class="colorRadius">
    <h2 class="titre">Que faire une fois connecté ?</h2>
    <p class="p"> Après vous être connecté, vous avez accès à vos tâches que vous pourrez créer et supprimer.
    </p> 
</div>
<div class="backTitle">

</div>
